@media (max-width: 669px){
    html, body{
        overflow-x: hidden;
    }
    header{
        flex-direction: column;
    }
    aside {
        position: fixed;
        top: 0;
        left: 0;
        width: 80vw;
        background-color: #0B121E;
        height: 100%;
        transform: translateX(-100%);
        z-index: 1000;
        border-radius: 0%;
      }
    
    aside.active-sidebar {
        transform: translateX(0);
      }

    header div button{
        display: block;
    }

    aside section{
        margin-left: 5px;
    }

    .active{
        background-color: #202B3C;
    }

    header p{
        display: none;
    }

    .header{
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        flex-direction: column;
    }

    .header .date{
        font-size: 1.2em;
    }

    .header p{
        font-size: 1.7em;
        margin-top: 20px;
        margin-left: 15px;
    }

    .header p span{
        color: rgb(216, 146, 15);
        font-weight: bold;
    }

    .date-greet{
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .header .welcome-back{
        font-size: 1.7em;
        margin-top: 10px;
        text-align: center;
    }
}